{% extends "layouts/auth_base.html" %}
{% block title %}Login - Gestão Agrícola{% endblock %}
{% block content %}
<form method="POST" class="p-4 rounded bg-white border shadow-sm">
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control" required autofocus>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" name="senha" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Entrar</button>
    <div class="mt-3 text-center">
        <a href="{{ url_for('auth.register') }}">Criar novo usuário</a>
    </div>
</form>
{% include 'components/assinatura.html' %}
{% endblock %}